BSA Restraurants
<br>
<hr>

<form name="userForm" style="background-color:rgb(250,250,250)">
<div flex="40" ng-controller = "registrationEmployedController" >
<md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input md-maxlength="30" required name="name" ng-model="name" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Surname</label>
          <input md-maxlength="30" required name="surname" ng-model="surname" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="email"
                 required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input type="password" md-maxlength="30" required name="password1" ng-model="password1" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input type="password" md-maxlength="30" required name="password2" ng-model="password2" />
</md-input-container>

<!-- <md-input-container class="md-block" flex-gt-sm>
          <label>Date of Birth</label>
          <input  type="date" md-maxlength="30" required name="dateOfBirth" ng-model="dateOfBirth" />
</md-input-container> -->

<md-input-container>
            <label>Date of Birth</label>
            <md-datepicker ng-model="dateOfBirth"></md-datepicker>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Dress size</label>
          <input  md-maxlength="30" required name="dressSize" ng-model="dressSize" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
          <label>Footwear size</label>
          <input  md-maxlength="30" required name="footwearSize" ng-model="footwearSize" />
</md-input-container>

<md-radio-group ng-model="employed">

      <md-radio-button value="Waiter" class="md-primary">Waiter</md-radio-button>
      <md-radio-button value="Cook"> Cook</md-radio-button>
      <md-radio-button value="Bartender">Bartender</md-radio-button>

    </md-radio-group>

    <hr />

    <p>Selected Value: <span class="radioValue">{{ employed }}</span></p>
    
    <md-select ng-model="selectedCategory" multiple="" placeholder="Invite your friends">
          	<md-optgroup label="Menu category">
            	<md-option ng-value="category" ng-repeat="category in categories">{{category.categoryName}}</md-option>
          	</md-optgroup>
    </md-select>



</form>

<md-button class="md-raised md-primary" ng-click="registerEmployed()">Add</md-button>

</div>
