<div ng-controller="friendsController"> 
 
 	<div>
 		<md-list>
 		<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky">  Friends <span class="badge">{{friendships.length}}</span> </md-subheader>
  			<md-list-item ng-repeat="friendship in friendships" ng-click="" class="noright">
    		<img alt="{{ friendship.secondUserFS.ime }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    		<p style="color:white"> {{ friendship.secondUserFS.ime }}</p>
    		<p style="color:white"> ({{ friendship.secondUserFS.prezime }})</p>
  			<md-icon md-svg-src="images/garbage.svg" ng-click="deleteFriend(friendship.secondUserFS.email)" aria-label="Delete friend" class="md-secondary md-hue-3" ></md-icon>
  
  			</md-list-item>
		</md-list>
	</div>

</div>