<div ng-controller="groceriesListController"> 

<md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6 ; height:20px;">
      	<div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Go Back
        </md-button> -->
        <h2>
          <span style="color:white;">BSA Restaurants</span>
        </h2>
        <span flex></span>
        
        <md-button class="md-primary" ng-click="addGroceriesCategoryDialog()">
          	Add Category 
        </md-button>
        
        
		</div>
 	</md-toolbar>
 	 
<div layout="row">
	<div flex = 50>
  		<md-list ng-repeat = "category in categories">
 			<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> {{category.categoryName}} 
 		
 			<md-icon ng-init md-svg-src="images/add.svg" ng-click="addGroceries(category)" aria-label="Add Groceries" class="md-secondary md-hue-3" >
 			</md-icon>
 		
 			</md-subheader>
 		
 		
 			<md-list-item ng-repeat="groceries in category.groceries" ng-click="" class="noright">
    			<img alt="{{ groceries.groceriesName }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"> {{groceries.groceriesName}}</p>
    		
    			<md-icon ng-init md-svg-src="images/plus-one.svg" ng-click="addToGroceriesList(groceries)" aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
  			
  			</md-list-item>
 		
 		</md-list>
	</div>
	
	<div flex = 50>
  		<md-list>
 			<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> List of Groceries for Order
 		
 			</md-subheader>
 		
 		
 			<md-list-item ng-repeat="g in groceriesList" ng-click="" class="noright">
    			<img alt="{{ g.groceriesName }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"> {{g.groceriesName}} {{g.brojac}}</p>
    		
  				<md-icon md-svg-src="images/garbage.svg" ng-click="deleteFromGroceriesList(g)" aria-label="Delete groceries" class="md-secondary md-hue-3" ></md-icon>
  			
  			</md-list-item>
 		
 		</md-list>
 		
 		<p class="form-group"  style="width: 200">
    		<label style="color: white;">List name:</label>
    		<input type="text" ng-model="listName" class="form-control">
  		</p>
 		
 		
 		<label style="color: white"><b>Starting date and time:</b></label>
		<p class="input-group" style="width: 150"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="startingDate" is-open="startingDateOpened" ng-changed="" datepicker-options="startingDateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStartingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        
		 <div uib-timepicker ng-model="startingTime" ng-change="startingTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
	
	
		<label style="color: white"><b>Ending date and time:</b></label>
		<p class="input-group" style="width: 150"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="endingDate" is-open="endingDateOpened" ng-changed="dateChanged(comingDate)" datepicker-options="endingDateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEndingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        
		<div uib-timepicker ng-model="endingTime" ng-change="endingTimeChanged()" hour-step="ehstep" minute-step="emstep" show-meridian="false"></div>
	
		<md-button class="md-raised md-primary" ng-click="saveList()">CONFIRM LIST</md-button>
		
 		
	</div>
	
</div>