<div ng-controller="guestController">
<md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6 ; height:20px;">
      <div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Go Back
        </md-button> -->
        <h2>
          <span style="color:white;">BSA Restaurants</span>
        </h2>
        <span flex></span>
       
        <md-button class="md-primary" aria-label="Learn More" ng-click="activeTab=0; setRestaurantsListVisible();" >
          Restaurants 
        </md-button>
  
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="activeTab=1">
          <md-icon md-svg-icon="images/user.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        
        <md-button class="md-primary md-hue-1" style="color:white;" aria-label="Learn More" ng-click="backToLogin()">
          LOGout
        </md-button>
      </div>
    </md-toolbar>
    
    <div ng-show="activeTab==0">
    <div ng-include="'views/restaurants.html'"></div>
    </div>
    
    
      <div ng-show="activeTab==1">
    <div ng-include="'views/profileGuest.html'"></div>
    </div>
   
    
</div>
    
