

<br>
<br> 
<!-- md-whiteframe="3" style="background: rgb(35,47,70);"--> 
<div ng-controller="LoginController">
<div md-whiteframe="3" class="col-md-6 col-md-offset-5"> </div>
<div  class="col-md-6 col-md-offset-5" style="">
<!-- Neka slika -->
<br>
<p style="font-size:15px;  border-style:solid; width:100px ; color:rgb(226,217,133);"> BSA  <br> Restaurants </p> <br>
<p style="font-size:10px; color:rgb(255,255,255);"> Become a member today</p>
<!-- <p style="text-align:;"> Restaurants </p> --> <br> 
<input type="text" ng-model="emailLogin" placeholder="Email" required>
<br>
<input type="text" ng-model="passwordLogin" placeholder="Pasword" required><br><br>
<button type="submit" style="height:30px;width:170px ; background-color:rgb(226,217,133);" ng-click="login()">Sing In</button>
<br> <br>
<p style="font-size:10px ; color:rgb(226,217,133);" > Not a member? </p> 

<button type="submit" class="md-primary" ng-click="register()">Sing Up</button>

<br> <br>
<p style="font-size:10px ; color:rgb(226,217,133);"> Don't want to complete the form? </p>
<p>------------------.------------------ </p>

<button type="submit"  style="height:30px;width:170px ; background-color:rgb(226,217,133);">Sing In using Facebook</button> 
<br>
<p> or </p>
<button type="submit"  style="height:30px;width:170px ; background-color:rgb(226,217,133)";>Sing In using Google ac</button>
<br>
 </div>

</div>

