<div ng-controller="menuController">
	<md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6 ; height:20px;">
      	<div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Go Back
        </md-button> -->
        <h2>
          <span style="color:white;">BSA Restaurants</span>
        </h2>
        <span flex></span>
        
        <md-button class="md-primary" ng-click="addMenuCategoryDialog()">
          	+ 
        </md-button>
        
        <md-button class="md-primary" ng-click="refresh()">
          	R 
        </md-button>
        
		</div>
 	</md-toolbar>
 	 
 
  	<md-list ng-repeat = "category in categories">
 		<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> {{category.categoryName}} 
 		
 			<md-icon ng-init md-svg-src="images/add.svg" ng-click="addMeal(category.id)" aria-label="Add Meal" class="md-secondary md-hue-3" >
 			</md-icon>
 		</md-subheader>
 		
 		
 		<md-list-item ng-repeat="meal in meals[2]" ng-click="goToRestaurant(restaurant, $event)" class="noright">
    		<img alt="{{ meal.mealName }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    		<p style="color:white"> {{meal.mealName}}</p>
  			<md-icon md-svg-src="images/garbage.svg" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  		</md-list-item>
 		
 	</md-list>
  			
  	 <md-button class="md-primary" ng-click="getMeals(1)">
          GM
        </md-button>

	
 	
 	
</div>