<div ng-controller="offersController"> 

<md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6 ; height:20px;">
      	<div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Go Back
        </md-button> -->
        <h2>
          <span style="color:white;">BSA Restaurants</span>
        </h2>
        <span flex></span>
       <!--  
        <md-button class="md-primary" ng-click="addGroceriesCategoryDialog()">
          	Add Category 
        </md-button> -->
        
        
		</div>
 	</md-toolbar>
 	 
<div layout="row">
	<div flex = 50>
  		<md-list ng-repeat = "list in (filteredLists = (lists | filter:{active:true}))">
 			<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> {{list.listName}} 
 		 		<md-icon ng-init ng-show="list.active" md-svg-src="images/checked.svg"  aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
 			 	<md-icon ng-init ng-show="!list.active" md-svg-src="images/cancel.svg"  aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
 			</md-subheader>
 		
 		
 			<md-list-item ng-repeat="item in list.items" ng-click="" class="noright">
    			<img alt="{{ item.groceriesName }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"> {{item.groceries.groceriesName}} {{item.quantity}}</p>
    		
    			
  			</md-list-item>
  			
  			<md-list-item ng-repeat="offer in list.offers" ng-click="" class="noright">
    			<img alt="{{ offer.bidder.ime }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"><u>{{offer.bidder.ime}} Price: {{offer.price}} |  Warranty: {{offer.warranty}}  Delivery: {{offer.deliveryDate | date:'dd, MMMM yyyy - HH:mm:ss'}}</u></p>
    			
    				
    				<md-icon ng-init ng-show="list.active" md-svg-src="images/checked.svg" ng-click="acceptedBidder(offer.id, list.id)" aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
  				
  				
  			</md-list-item>
 		
 		</md-list>
	</div>
	
	<div flex = 50>
  		<md-list ng-repeat = "list in (filteredLists = (lists | filter:{active:false}))">
 			<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> {{list.listName}} 
 		 		<md-icon ng-init ng-show="list.active" md-svg-src="images/checked.svg"  aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
 			 	<md-icon ng-init ng-show="!list.active" md-svg-src="images/cancel.svg"  aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
 			</md-subheader>
 		
 		
 			<md-list-item ng-repeat="item in list.items" ng-click="" class="noright">
    			<img alt="{{ item.groceriesName }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"> {{item.groceries.groceriesName}} {{item.quantity}}</p>
    		
    			
  			</md-list-item>
  			
  			<md-list-item ng-repeat="offer in list.offers" ng-click="" class="noright">
    			<img alt="{{ offer.bidder.ime }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    			<p style="color:white"><u>{{offer.bidder.ime}} Price: {{offer.price}} |  Warranty: {{offer.warranty}}  Delivery: {{offer.deliveryDate | date:'dd, MMMM yyyy - HH:mm:ss'}}</u></p>
    			
    				
    				<md-icon ng-init ng-show="list.active" md-svg-src="images/checked.svg" ng-click="acceptedBidder(offer.id, list.id)" aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
  				
    				<md-icon ng-init ng-show="offer.accepted" md-svg-src="images/checked.svg" ng-click="" aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
  					<md-icon ng-init ng-show="!offer.accepted" md-svg-src="images/cancel.svg" ng-click="" aria-label="Edit Drink" class="md-secondary md-hue-3" ></md-icon>
  					
  				
  			</md-list-item>
 		
 		</md-list>
	</div>
	
	
</div>