<div ng-controller="profileGuestController"> 
<div layout="row">
  <div  flex="40">
  <md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6; weight:50px; height:100px;">
  	<div class="md-toolbar-tools">
  		<br>
    	<p style="color:white"> Ime: {{ime}} </p> <br> 
    	<p style="color:white"> Prezime: {{prezime}} </p><br>
    	<br>
    	<br>
    	
		<md-button class="md-primary md-raised" ng-click="showDialog($event)">
			Edit
		</md-button>
	</div>
   </md-toolbar>
   
   <md-list>
 		<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> Reservations 
 		
 		</md-subheader>
  		<md-list-item ng-repeat="reservation in reservations" ng-click="" class="noright">
    	<img alt="{{ reservation.id }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    	<p style="color:white"> {{reservation.id}} {{ reservation.comingTime}} {{ reservation.leavingTime}} </p>
    
  		<md-icon md-svg-src="images/garbage.svg" ng-click="cancelReservation(reservation.id, reservation.comingTime)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  
  		</md-list-item>
	</md-list>
   
  </div>
  
  <div flex="60">
  
  		<p class="form-group" style="width: 200">
    		<label style="color: white;">Search by guest name:</label>
    		<input type="text" ng-model="nameFilter" class="form-control">
  		</p>
  		
  		<p class="form-group"  style="width: 200">
    		<label style="color: white;">Search by guest surname:</label>
    		<input type="text" ng-model="surnameFilter" class="form-control">
  		</p>
  
  
  	<md-button class="md-primary md-raised" ng-click="search()">
			Search
	</md-button>
	
	
	 <md-list>
 		<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> Guests 
 		<md-icon ng-init md-svg-src="images/az.svg" ng-click="sortByNameAtoZ()" aria-label="Sort by name" class="md-secondary md-hue-3" >
 		</md-icon>
 		<md-icon ng-init md-svg-src="images/za.svg" ng-click="sortByNameZtoA()" aria-label="Sort by name" class="md-secondary md-hue-3" >
 		</md-icon>
 		
 		</md-subheader>
  		<md-list-item ng-repeat="guest in (filteredGuests = (guests | filter:{ime:nameFilter} | filter:{prezime:surnameFilter}))" ng-click="goToRestaurant(restaurant, $event)" class="noright">
    	<img alt="{{ guest.ime }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    	<p style="color:white"> {{ guest.ime }} {{guest.prezime}}</p>
    
      	<md-icon md-svg-src="images/plus-one.svg" ng-click="sendFriendRequest(guest.email)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  		<md-icon md-svg-src="images/garbage.svg" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  
  		</md-list-item>
	</md-list>
	
	<md-menu-bar>
            
            <md-menu>
                <!-- Trigger element is a md-button with an icon -->
                <button ng-click="$mdOpenMenu()" aria-label="Open sample menu" style="color: white;">
              		Friend Requests<span class="badge">{{requests.length}}</span>
                </button>
                <md-menu-content width="6" id="messages">               	
                	              
                    <md-menu-item ng-repeat="request in requests" ><md-button>
                       {{request.userSender.ime }} {{request.userSender.prezime}} 
                    </md-button> <md-button class="md-primary" ng-click="acceptFriendRequest(request.userSender)"> Accept </md-button> <md-button class="md-warn" ng-click="deleteFriendRequest(request.id)"> Delete </md-button> </md-menu-item>
       

                </md-menu-content>
            </md-menu>
      </md-menu-bar>
  
  </div>
  
  
</div>

</div>