<div ng-controller="profileGuestController"> 
<div layout="row">
  <div  flex="40">
  <md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6; weight:50px; height:100px;">
  	<div class="md-toolbar-tools">
  		<br>
    	<p style="color:white"> Ime: {{ime}} </p> <br> 
    	<p style="color:white"> Prezime: {{prezime}} </p><br>
    	<br>
    	<br>
    	
		<md-button class="md-primary md-raised" ng-click="showDialog($event)">
			Edit
		</md-button>
	</div>
   </md-toolbar>
  </div>
  
  <div flex="60">
  	<md-input-container class="md-block" flex-gt-sm>
          <label style="color: white">Name</label>
          <input md-maxlength="30" required name="name" ng-model="searchName" />
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
          <label style="color: white">Surname</label>
          <input md-maxlength="30" required name="surname" ng-model="searchSurname" />
	</md-input-container>
  
  
  	<md-button class="md-primary md-raised" ng-click="search()">
			Search
	</md-button>
	
	
	 <md-list>
 		<md-subheader style="background-color:black; color:white; opacity:0.3;" class="md-no-sticky"> Guests </md-subheader>
  		<md-list-item ng-repeat="guest in guests" ng-click="goToRestaurant(restaurant, $event)" class="noright">
    	<img alt="{{ guest.ime }}" ng-src="images/pozadina2.jpg" class="md-avatar" />
    	<p style="color:white"> {{ guest.ime }} {{guest.prezime}}</p>
    
  		<md-icon md-svg-src="images/garbage.svg" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
  
  	</md-list-item>
</md-list>
  
  </div>
  
  
</div>

</div>