<div ng-controller="reportsController">
	<div layout="column">
	<div flex="13">
		<md-toolbar class="md-small-tall" style="background-color:rgb(0,0,0); opacity:0.6 ; height:20px;">
      		<div class="md-toolbar-tools">
        		<h2>
          		<span style="color:white;">BSA Restaurants</span>
        		</h2>
        		<span flex></span>
        		
        		
		</md-toolbar>
	</div>
	</div>

   	<div layout="row">	
   		
  				
	<div layout = "column" flex = 50 align="center">
	<h3 align="center" style="color: white;">Reports for restaurant: {{restaurantName}}</h3>
		<h4 align="center" style="color: white;">Current restaurant rate: {{rate}}</h4>		
		
		<p class="form-group" style="width: 200">
    		<label style="color: white;">Search by waiter name:</label>
    		<input type="text" ng-model="nameFilter" class="form-control">
  		</p>
		
		<md-select ng-change = "selectedWaiterChanged()" placeholder="Choose waiter for report" ng-model="selectedWaiter" style="min-width: 200px; color: white;">
      		<md-option ng-value="waiter" ng-repeat="waiter in (filteredWaiters = (waiters | filter:{ime:nameFilter}))">{{waiter.ime}} {{waiter.prezime}}</md-option>
		</md-select>
		
		<h4 align="center" style="color: white;">Current waiter rate: {{waiterRate}}</h4>	
		
		<p class="form-group" style="width: 200">
    		<label style="color: white;">Search by drink name:</label>
    		<input type="text" ng-model="drinkNameFilter" class="form-control">
  		</p>
  		
		<md-select ng-change="selectedDrinkChanged()" ng-model="selectedDrink" placeholder="Select your drink">
    		
          	<md-optgroup label="{{category.drinkCategoryName}}" ng-repeat="category in categories">
            	<md-option ng-value="drink" ng-repeat="drink in (filteredDrinks = (category.drinks | filter:{drinkName:drinkNameFilter}))">{{drink.drinkName}}</md-option>
          	</md-optgroup>
          	
        </md-select>
        
        <h4 align="center" style="color: white;">Current drink rate: {{drinkRate}}</h4>
     </div>
     <div layout = "column" flex = 50>
     <h3 align="center" style="color: white;">Profits for restaurant: {{restaurantName}}</h3>
     
      <div layout = "row">
       <div layout = "column" align="center">
        <label style="color: white"> Profits from date: </label>
		<p class="input-group" style="width: 200"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="fromDate" is-open="fromDateOpened" ng-changed="dateChanged(fromDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        </div>
        <div flex></div>
        <div layout = "column" align="center">
        <label style="color: white"> Profits to date: </label>
		<p class="input-group" style="width: 200"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="toDate" is-open="toDateOpened" ng-changed="dateChanged(toDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        </div>
      </div>
        
        <md-button class="md-raised md-primary" ng-click="calculate()">Calculate</md-button>
        
        <h4 align="center" style="color: white;">Profits in selected date range: {{rangeProfits}}</h4>
        
        
        <h4 align="center" style="color: white;">Profits for selected waiter: {{waiterProfit}}</h4> 
        
       <div layout = "row">
       <div layout = "column" align="center">
        <label style="color: white"> Number of visits from date: </label>
		<p class="input-group" style="width: 200"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="novDate" is-open="novDateOpened" ng-changed="dateChanged(novDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openNovDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        </div>
        <div flex></div>
        <div layout = "column" align="center">
        <label style="color: white"> How many days: </label>
		<p class="input-group" style="width: 200"> 	
          	<input type="number" class="form-control" ng-model="dateRange" ng-required="true" min="1" max="7" /> 	
        </p>
        </div>
         <md-button class="md-raised md-primary" ng-click="getChart()">Calculate</md-button>
      </div>
        
        <div id="container" align="center" style="width: 600; height: 300">
        </div>
        
    </div>
        
	</div>
	
	

</div>