<div ng-controller="reservationController"> 
 
<ul uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" page-label="pageLabel($page)"></ul>
	
	<br>
   <md-button class="md-raised md-primary" ng-click="prevPage(currentPage)">Previous step</md-button>
   <md-button class="md-raised md-primary" ng-click="nextPage(currentPage)">Next step</md-button>
   <br><br>
	
	<div ng-show="currentPage==1">
    	
    	<md-select ng-change="getAllRestaurantTables()" placeholder="Choose restaurant" ng-model="selectedRestaurant" style="min-width: 200px; color: white;">
      		<md-option ng-value="restaurant" ng-repeat="restaurant in restaurants">{{restaurant.ime}} ({{restaurant.tip}})</md-option>
		</md-select>
		
		<label style="color: white"> I want to come: </label>
		<p class="input-group" style="width: 150"> 	
          	<input type="text" class="form-control" uib-datepicker-popup ng-model="comingDate" is-open="comingDateOpened" ng-changed="dateChanged(comingDate)" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          	<span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openComingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        
		 <div uib-timepicker ng-model="comingTime" ng-change="comingTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
		
		
		<p class="input-group">	
		<label style="color: white"> I want to stay: </label>
			<input type="number" class="form-control" ng-model="stayingHours" min="1" max="6">
		</p>
	
	
    </div>
    
    
    <div ng-show="currentPage==2">
    	
		<canvas id="canvas" width="500" height="450" style="border:1px solid #000000"></canvas>
    
    </div>
    
    <div ng-show="currentPage==3">
    	
    	<md-select placeholder="Invite your friends" ng-model="friendship"  style="min-width: 200px; color: white;">
      		<md-option ng-value="friendship" ng-repeat="friendship in friendships">{{friendship.secondUserFS.ime}} {{friendship.secondUserFS.prezime}}</md-option>
		</md-select>
		
    </div>
    
    <div ng-show="currentPage==4">
    
    </div>


</div>