<md-dialog aria-label="Add new category" layout="column" style="border:solid black">
  <div flex="10" style="background:url('images/pozadinaDrvo.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
  	<h2 style="color:white" > Add New Category!</h2>
  </div>
<div flex="30">
	<md-dialog-content>
      	<br>
      	<br>

		<md-input-container class="md-block" flex-gt-sm md-theme-watch>
          	<label>Name</label>
          	<input md-maxlength="30" required name="name" ng-model="categoryName" />
		</md-input-container>

    </md-dialog-content>

     
</div>
<div flex="10" style="background:url('images/pozadinaDrvo.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
<md-dialog-actions layout="row">
      
      <md-button class="md-raised md-success" ng-click="addGroceriesCategory()">
       Apply
      </md-button>
      
      <md-button class="md-raised md-warn" ng-click="closeDialog()" >
        Cancel
      </md-button>
      
    </md-dialog-actions>
</div>
	
 
</md-dialog>