<md-dialog aria-label="Add meal" layout="column" style="border:solid black">
  <div flex="10" style="background:url('images/pozadinaDrvo.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
  	<h2 style="color:white" > Edit Drink!</h2>
  </div>
<div flex="50">
	<md-dialog-content>
      	<br>
      	<br>

		<md-input-container class="md-block" flex-gt-sm md-theme-watch>
          	<label>Name</label>
          	<input md-maxlength="30" required name="name" ng-model="drinkName" />
		</md-input-container>
		
		<md-input-container class="md-block" flex-gt-sm md-theme-watch>
          	<label>Description</label>
          	<input md-maxlength="30" required name="name" ng-model="drinkDescription" />
		</md-input-container>
		
		<md-input-container class="md-block" flex-gt-sm md-theme-watch>
          	<label>Price</label>
          	<input md-maxlength="30" required name="name" ng-model="drinkPrice" />
		</md-input-container>

    </md-dialog-content>

     
</div>
<div flex="10" style="background:url('images/pozadinaDrvo.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
<md-dialog-actions layout="row">
      
      <md-button class="md-raised md-success" ng-click="editDrink()">
       Apply
      </md-button>
      
      <md-button class="md-raised md-warn" ng-click="closeDialog()" >
        Cancel
      </md-button>
      
    </md-dialog-actions>
</div>
	
 
</md-dialog>