<md-dialog aria-label="Confirm table reservation!">

	<md-dialog-content>
		<div class="md-dialog-content">

		<h2 align="center"> Edit your offer!</h2>
		
		<p align="center">Hello <b> {{username}} </b> </p>
		<p align="center"> You can change your offer!</p>
		
		<form name='form1'>
		
			<p class="input-group">	
				<label style="color: white"> Price: </label>
				<input type="number" class="form-control" ng-model="price" min="1">
			</p>
	
			<label style="color: white"> Date of delivery </label>
				<p class="input-group" style="width: 150"> 	
          			<input type="text" class="form-control" uib-datepicker-popup ng-model="deliveryDate" is-open="deliveryDateOpened" ng-changed="" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          			<span class="input-group-btn">
            		<button type="button" class="btn btn-default" ng-click="openDeliveryDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          			</span>
        		</p>
        
		 	<div uib-timepicker ng-model="deliveryTime" ng-change="deliveryTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
		
			<div>
   				<md-checkbox ng-model="warranty" aria-label="Warranty" style="color:black">       
        			Warranty 
       	 		</md-checkbox>
			</div>
		
   		</form>

		

		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-raised md-primary" ng-click="apply()" >
       		Apply
     	</md-button>
     	
     	<md-button class="md-raised md-primary" ng-click="cancel()" >
       		Cancel
     	</md-button>
     	
     
</md-dialog-actions>



</md-dialog>